@-webkit-keyframes bg-animation {
  0% {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
  50% {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
  100% {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
}

@keyframes bg-animation {
  0% {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
  50% {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
  100% {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
}

.full-height {
  height: 100vh;
}

.text-light-orange {
  color: #ddc13e;
}

.text-gray {
  color: #949697;
}

.text-purple {
  color: #8566b5;
}

.bg-gray {
  background-color: #949697;
}

.bg-black {
  background-color: #030408;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#home {
  position: relative;
  overflow: hidden;
  text-shadow: 3px 3px 3px black;
}

#home:after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../img/body-bg.png");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bg-animation 10s linear infinite;
          animation: bg-animation 10s linear infinite;
  z-index: -1;
}

.nav-row .wrap-nav {
  z-index: 1;
}

.nav-row .nav {
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  z-index: 9999;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  overflow: hidden;
}

.nav-row .nav .nav-img {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.nav-row .nav .nav-img:after {
  content: "";
  background-image: url(../img/card-picture.png);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav-row .nav .list-group .list-group-item {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.nav-row .nav .list-group .list-group-item a {
  color: #030408;
}

.nav-row .nav .list-group .list-group-item:hover {
  border-color: #8566b5;
  cursor: pointer;
}

.nav-row .nav .list-group .list-group-item:hover a {
  color: #8566b5;
  text-decoration: none;
}

.skills-wrapper .skill i {
  color: #8566b5;
  text-align: center;
  margin-right: .75rem;
}

.languages-wrapper progress {
  border: none;
  height: 10px;
  background: #8566b5;
}

.languages-wrapper progress::-webkit-progress-value {
  background: #8566b5;
}

.languages-wrapper progress::-webkit-progress-bar {
  background: #949697;
}

#portfolio .project-item {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin: 0 2rem 2rem 0;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: -webkit-filter .25s ease;
  transition: -webkit-filter .25s ease;
  transition: filter .25s ease;
  transition: filter .25s ease, -webkit-filter .25s ease;
}

#portfolio .project-item .project-caption {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  opacity: 0;
}

#portfolio .project-item:after {
  content: "";
  padding-top: 100%;
  width: 100%;
  display: block;
}

#portfolio .project-item:hover {
  cursor: pointer;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

#portfolio .project-item:hover .project-caption {
  top: 0;
  opacity: 1;
}

#portfolio .project-item:nth-child(1) {
  background-image: url("https://picsum.photos/id/111/500/");
}

#portfolio .project-item:nth-child(2) {
  background-image: url("https://picsum.photos/id/112/500/");
}

#portfolio .project-item:nth-child(3) {
  background-image: url("https://picsum.photos/id/113/500/");
}

#portfolio .project-item:nth-child(4) {
  background-image: url("https://picsum.photos/id/114/500/");
}

#portfolio .project-item:nth-child(5) {
  background-image: url("https://picsum.photos/id/115/500/");
}

#portfolio .project-item:nth-child(6) {
  background-image: url("https://picsum.photos/id/116/500/");
}

#portfolio .project-item:nth-child(7) {
  background-image: url("https://picsum.photos/id/117/500/");
}

#contact h3 {
  max-width: 600px;
  font-weight: 500;
  font-size: 3rem;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-left: auto;
  margin-right: auto;
}

#contact .link-mail:hover {
  color: #ddc13e;
  text-decoration: none;
  opacity: .7;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#contact .social-list {
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-transform: uppercase;
  padding-left: 0;
}

#contact .social-list a {
  padding: 1rem .5rem;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#contact .social-list a:hover {
  color: #ddc13e;
}
/*# sourceMappingURL=style.css.map */