$light-orange:         #ddc13e;
$purple:               #8566b5;
$gray:                 #949697;
$black:                #030408;

@keyframes bg-animation{
    0%{
        filter: grayscale(100%);
    }
    50%{
        filter: grayscale(0%);
    }
    100%{
        filter: grayscale(100%);
    }
}


.full-height{
    height:100vh;
}

.text-{
    &light-orange{
        color:$light-orange;
    }
    &gray{
        color:$gray;
    }
    &purple{
        color:$purple;
    }
}

.bg-{
    &gray{
        background-color:$gray;
    }
    &black{
        background-color:$black;
    }
}

html{
    scroll-behavior: smooth;
}

body{
    position: relative;
   
}

#home{
    position:relative;
    overflow: hidden;
    &:after{
        content:"";
        width:100%;
        height:100%;
        background-image:url('../img/body-bg.png');
        background-size:cover;
        position:absolute;
        top:0;
        left:0;
        animation:bg-animation 10s linear infinite;
        z-index:-1
    }
    text-shadow: 3px 3px 3px black;
}

.nav-row{
    .nav{
        box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
        z-index:9999;
        .nav-img{
            width:100%;
            padding-top:100%;
            position: relative;
            &:after{
                content: "";
                background-image: url(../img/card-picture.png);
                background-size: cover;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        .list-group{
            .list-group-item{
                transition:all .5s ease;
                a{
                    color:$black; 
                }
                &:hover{
                    border-color:$purple;
                    cursor:pointer;
                    a{
                        color:$purple;
                        text-decoration: none;
                    }
                }
                
            }
        }
    }
}

.skills-wrapper{
    .skill{
        i{
            color:$purple;
            text-align: center;
            margin-right:.75rem;
        }
    }
}

.languages-wrapper{
    progress {
        border: none;
        height: 10px;
        background: $purple;
        &::-webkit-progress-value {
            background: $purple;
        }
        &::-webkit-progress-bar {
            background: $gray;
        }
    }
}

#portfolio{
    .project-item{
        flex-basis: 20%;
        margin:0 2rem 2rem 0;
        position: relative;
        overflow:hidden;
        background-size:cover;
        background-position: center;
        filter:grayscale(100%);
        transition:filter .5s ease;
        .project-caption{
            margin:0;
            width:100%;
            height:100%;
            position: absolute;
            top:-100%;
            left:0;
            background-color:rgba(0,0,0,.5);
            display:flex;
            align-items: center;
            justify-content: center;
            color:white;
            transition: top .5s ease;
        }
        &:after{
            content:"";
            padding-top:100%;
            width:100%;
            display: block;
        }
        &:hover{
            cursor:pointer;
            filter:grayscale(0%);
            .project-caption{
                top:0;
            }
        }
    }
    @for $i from 1 through 7 {
        .project-item:nth-child(#{$i}) {
          background-image: url('https://picsum.photos/id/11#{$i}/500/')
        }
    }
}
